In [1]:

import pandas as pd

In [2]:
#Q1. List any five functions of the pandas library with execution.
#1. pd.DataFrame() : used to create a new dataframe

data = [[3,4,5,6,7],[3,0,9,8,7],[4,3,5,6,7]]
df = pd.DataFrame(data)
df

   0  1  2  3  4
0  3  4  5  6  7
1  3  0  9  8  7
2  4  3  5  6  7

In [3]:
#2. mean() : used to get mean all numeric values column

df.mean()

<bound method DataFrame.mean of    0  1  2  3  4
0  3  4  5  6  7
1  3  0  9  8  7
2  4  3  5  6  7>

In [4]:
# 3.pd.Series() create a pandas series

df = pd.Series([4,5,6,7,8,9])
type(df)

pandas.core.series.Series

In [ ]:
#4. pd.read_csv() used to read a csv file in pandas

df = pd.read_csv("data.csv")

In [6]:
# 5.df.sum() used to sum all numeric data columns

df.sum()

np.int64(39)

In [7]:
## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame
#  with a new index that starts from 1 and increments by 2 for each row.

data = [['lea','hea','few'],['foo','zoo','moo'],['bean','team','lore']]
df = pd.DataFrame(data, columns = ['A','B','C'])
df

      A     B     C
0   lea   hea   few
1   foo   zoo   moo
2  bean  team  lore

In [8]:
df.reindex([1,3])

     A    B    C
1  foo  zoo  moo
3  NaN  NaN  NaN

In [9]:
##Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
##For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df

   Values
0      10
1      20
2      30
3      40
4      50

In [10]:
def sum_three(df):
    first_three = df.iloc[:3]  # select the first three rows
    return first_three.sum() 
sum_three(df)

Values    60
dtype: int64

In [11]:
## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

data = {'Text':['goo','retr','iokjui']}
df = pd.DataFrame(data)
df

     Text
0     goo
1    retr
2  iokjui

In [12]:
df['Word_Count'] = df['Text'].str.len()
df

     Text  Word_Count
0     goo           3
1    retr           4
2  iokjui           6

In [13]:
## Q5. How are DataFrame.size() and DataFrame.shape() different?

# DataFrame.size it is return number_row*number_column
df = pd.DataFrame({'name':['ye','fee','gol','jho'],
                   'Age':[3,4,5,7]})
df.size

8

In [14]:
# dataframe.shape it is return number_row,number_column
df = pd.DataFrame({'name':['ye','fee','gol','jho'],
                   'Age':[3,4,5,7]})
df.shape

(4, 2)

In [15]:
df

  name  Age
0   ye    3
1  fee    4
2  gol    5
3  jho    7

In [ ]:
## Q.6.Which function of npandas do nwe use to read an excel file?

pd.read_excel("excel_file_path")

In [16]:
##Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
##The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

df = pd.DataFrame({'Email':['john.doe@example.com','nazer@gmail.com']})
df

                  Email
0  john.doe@example.com
1       nazer@gmail.com

In [17]:
df[['username','company']] = df['Email'].str.split("@",expand=True,)
df.drop(df.columns[2], axis=1, inplace=True)
df

                  Email  username
0  john.doe@example.com  john.doe
1       nazer@gmail.com     nazer

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows:
A B C
1 8 2 7
4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [18]:
data = [[ 3, 5, 1],[8, 2, 7],[6, 9, 4],[2, 3, 5],[9, 1, 2]]
df = pd.DataFrame(data, columns = ['A','B','C'])
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [19]:
new_df = df[(df['A'] > 5)  & (df['B'] < 10 )]
new_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [20]:
df = pd.DataFrame({'Values': [2,3,4,5,6,7,8]})
df

   Values
0       2
1       3
2       4
3       5
4       6
5       7
6       8

In [21]:
df.describe()

         Values
count  7.000000
mean   5.000000
std    2.160247
min    2.000000
25%    3.500000
50%    5.000000
75%    6.500000
max    8.000000

In [22]:
df.mean()

Values    5.0
dtype: float64

In [23]:
df.median()

Values    5.0
dtype: float64

In [ ]:
df.std()