Question No.1

Write a code to print the data present in the second row of gthe dataframe,df

ANSWER

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Question No.2:

What is the difference between the functions loc and iloc in pandas.DataFrame?

ANSWER:

loc is a label-based indexing method that is used to access rows and columns by labels or boolean arrays. The syntax of the loc method is df.loc[row_labels, column_labels]. Here, row_labels and column_labels refer to the row and column labels, respectively. loc returns a DataFrame that matches the specified labels.

iloc on the other hand, is an integer-based indexing method that is used to access rows and columns by integer position. The syntax of the iloc method is df.iloc[row_positions, column_positions]. Here, row_positions and column_positions refer to the integer positions of the rows and columns, respectively. iloc returns a DataFrame that matches the specified integer positions.

Question No. 3:
Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Answer:

In [5]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc: Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

new_df.iloc: new_df.iloc[2] returns the row that has the integer position 2 in the index.

Question No. 4:

Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

Answer:

In [8]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.841319  0.201212  0.166813  0.890999  0.554136  0.642790
2  0.957783  0.673213  0.252130  0.374132  0.857476  0.321397
3  0.064714  0.019666  0.703010  0.725237  0.681675  0.849223
4  0.038895  0.789928  0.993581  0.237671  0.288568  0.620877
5  0.527044  0.039598  0.314157  0.244573  0.958120  0.536139
6  0.261716  0.318637  0.182835  0.642487  0.510306  0.908652

In [9]:
means=[]

for each_col in list(df1.columns):
    means.append(df1[each_col].mean())

print(f"Mean of each column: {means}")
print(f"Standard Deviation of column_2: {df1['column_2'].std()}")

Mean of each column: [np.float64(0.44857861211787897), np.float64(0.3403757988745135), np.float64(0.4354209836157419), np.float64(0.519183434904256), np.float64(0.6417135526186658), np.float64(0.6465131950219792)]
Standard Deviation of column_2: 0.3243574820907255

Question No. 6:
What do you understand about the windows function in pandas and list the types of windows functions?

Answer:
In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

Rolling functions: These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

Expanding functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

Exponentially weighted functions: These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

Cumulative functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

Aggregating functions: These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(),groupby.sum(),etc.

In [10]:
data_dict = {
    'current_date':['2023-02-26']
}

df = pd.DataFrame(data_dict)
df

  current_date
0   2023-02-26

In [13]:
df['current_date']=pd.to_datetime(df['current_date'])

In [14]:
df['current_date'].dt.month

0    2
Name: current_date, dtype: int32

In [15]:
df['current_date'].dt.year

0    2023
Name: current_date, dtype: int32

Question No. 8:

Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
start_date = input("Enter first date: ")
end_date = input("Enter second date: ")

days_in_between = pd.date_range(start = start_date, end = end_date)
difference = len(days_in_between)

print(f'The difference between the first date and second date is {difference} days')

#First date entered: 2022-01-01
#Second date entered: 2022-02-01

Question No. 9:

Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [19]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
filepath = input('Enter the filepath: ')
column = input('Enter the column name: ')
order = input('Enter category order: ')

df = pd.read_csv(filepath)

df[column].astype('category')

if order=='ascending':
    df=df.sort_values(by = column, ascending= True)
elif order=='descending':
    df=df.sort_values(by = column, ascending= False)

df

#entered filepath: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
#entered column: Pclass
#entered order: ascending

Question No. 10:

Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
filepath = input('Enter filepath: ')

df = pd.read_csv(filepath)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

#entered filepath: Product_sales.csv